/auto-save-list/*
*.elc
/custom/*.elc
/elpa/*
/image-dired/*
listoffunctions.el
macros.el
network-security.data
/request/
/scripts/
shmData.el
tramp
.mc-lists.el
abbrev_defs
/auto-save-list/*
bookmarks
/eshell/history
games/*
ido.last
ido.last~
recentf
tutorial/*
url/*
abbrev_defs
bookmarks